@media all and (max-width: 767px) {
    
     h1 {
    color: white;
    margin-top: 30vh;
    font-size: 2rem;
}
    
    #header h2 {
    font-size: 1.3rem;
    margin-top: 20px;
}
    .logo {
        height: 50px;
    }
    
}

@media all and (max-width: 575px) {
    
#elements figure {
    margin: 6px auto;
    z-index: 20;
}
    #elements::after {
        z-index: 10;
        width: 25px;
        height: 25px;
        bottom: -12.5px;
        left: calc(50% - 12.5px);
    }
    #footer {
        padding-top: 35px;
    }
    .footer__logo {
        margin: auto;
        width: 143px;
    }
    .footer__icons {
        width: 164px;
        margin: 20px auto;
    }
    .footer__box {
        text-align: center;
    }
    #footer ul {
        padding: 0;
    }
}


